* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 0px;
}
  
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px 30px 30px 30px;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
}
  
header{
    margin: 30px 0px 0px 0px;
}
  
html, body {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
.content {
    flex: 1 0 auto;
}
  
.delete-checkbox{
    float: left;
}

  
.footer{
    text-align: center;
    height: 60px;
    flex-shrink: 0;
}
  
button{
    margin: 0px 30px 0px 0px;
}

  
hr {
    margin: 0px 0px 10px 0px;
    display:inline-block;
    width:100%;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
  
input[type=text],[type=number], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.container {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}
  
.col-45 {
    float: left;
    width: 85%;
    margin-top: 6px;
}
